footer{
	color: #949494;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
}

footer ul li{
	display: inline-block;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: rgba(144,144,144,0.25);
	padding: 1em;
}

footer ul li:first-child{
	border-left-width: 0px;
}

footer span{
	margin: 0.5em;
	margin-bottom: 3em;
	padding: 0.5em;
	border: solid;
	border-radius: 0.5em;
}