
* {
	box-sizing: border-box;
}

body{
	margin: 0;
	min-height: 100%
}

iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img{
	max-width: 100%;
	border-radius: 5px;
}

/* Header */

.header {
	min-height: 30px;
	height: 5vh;
	background-color: rgb(102,201,255);
	padding: 7px;
}

.cloud {
	z-index: 100;
	width: 60px;
	height: 3vh;
	position: relative;
	-webkit-animation: cloud1 10s infinite;
	animation: cloud1 10s infinite;
}

@-webkit-keyframes cloud1 {
	from {left: 0%;}
	to {left: 100%;}
}

@keyframes cloud1 {
	from {left: 0%;}
	to {left: 100%;}
}

.header div {
	display: inline-block;
}

.brand{
	display: inline-block;
}
/*
.brand::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 6px;
	background: url(Logo_color.png) no-repeat;
	z-index: 1300;
}
*/

#logo_wrap {
	width: 20%;
}

#logo{
	position: relative;
	height: -webkit-fill-available;
}

#menu_wrap {
	width: 20%;
	text-align: right;
}

#menudraw {
	position: relative;
	height: -webkit-fill-available;
}

.menu_dropdown {
	display: none;
	position: absolute;
	background-color: white;
}

.menu:hover .menu_dropdown {
	border-style: solid;
	display: block;
	right: 0;
	z-index: 1;
}

.menu_dropdown>a {
	display: block;
}

/* frame */

.frame{
	background-color: rgba(255,217,194,0.2);
	display: flex;
}

.col {
	flex: 1;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: rgba(180,176,173,0.6);
	min-height: calc( 95vh - 20px );
}

.frame>.col{
	float: left;
	padding: 5px;
}

.frame>.col:first-child{
	border-left-style: none;
}

.frame>.col>.facebook{

}

.frame::after{
	content: "";
	clear: both;
	display: table;
}

.feed {
	width: 100%;
/*	height: 300px;*/
	margin: 10px 0;
	/*padding: 5px;*/
	overflow: hidden;
	display: grid;
	grid-template-rows: 30px auto 30px;
	background-color: white;
	box-shadow: 0px 0px 5px;
}

[class*="temp_A"]::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 6px;
}

.facebook {
	
}

.facebook>.temp_A{
	color: white;
	background-color: rgba(59,89,152,0.6);
}
.facebook>.temp_A::before {
	background: url(facebook.png) no-repeat;
}

.Youtube>.temp_A {
	color: white;
	background-color: rgba(255,0,0,0.6);
}

.Youtube>.temp_A::before {
	background: url(youtube.png) no-repeat;
}

.twitter>.temp_A {
	color: white;
	background-color: rgba(0,172,237,0.6);
}

.twitter>.temp_A::before {
	background: url(twitter.png) no-repeat;
}

.tumblr>.temp_A {
	color: white;
	background-color: rgba(54,70,93,0.6);
}

.tumblr>.temp_A::before {
	background: url(tumblr.png) no-repeat;
}

.instagram>.temp_A {
	color: white;
	background: linear-gradient(45deg, rgba(252,204,99,0.6), rgba(138, 58, 185, 0.6));
	/*background-color: rgba(252,204,99,0.6);*/
}

.instagram>.temp_A::before {
	background: url(instagram.png) no-repeat;
}

.temp_A {
	padding: 5px;
}

[id="temp_B1"], [id="temp_B3"], [id="temp_B4"] {
	padding: 5px;
}

[id*="temp"] {
	overflow: hidden;
	max-height: 240px;
}

#temp_B1{
	display: grid;
	grid-template-columns: 50% 50%;
}

#temp_B2{
	display: grid;
	grid-template-rows: 80px 80px;
	color: black;
	overflow: hidden;
	/*text-shadow:-2px -2px 3px #ffffff, 2px -2px 3px #ffffff, -2px  2px 3px #ffffff, 2px  2px 3px #ffffff;*/
}

#temp_B2 img{
	opacity: 0.4;
}

#temp_B3{
	overflow: hidden;
}

#temp_B4{
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

#temp_B5{
	display: grid;
	grid-column-end: 80px auto;
}

#temp_B5>p {
	padding-left: 5px;
	text-decoration: underline rgb(0,172,237) wavy;
}

#temp_B6 {

}

#temp_B6>img {
	border-radius: 0px;
}

.facebook>.temp_C{
	color: white;
	background-color: rgba(36,103,178,0.4);
}

.Youtube>.temp_C {
	color: white;
	background-color: rgba(255,0,0,0.4);
}

.twitter>.temp_C {
	color: white;
	background-color: rgba(0,172,237,0.4);
}

.temp_C {
	padding: 5px;
	align-content: end;
}

.like {
	float: right;
	display: inline-block;
}

.comment {
	float: right;
	display: inline-block;
}

.share {
	float: right;
	display: inline-block;
}

[class*="metadata"] {
	float: right;
	display: inline-block;
}

.youtubemetadata {
	
}

.twittermetadata {

}

.tumblrmetadata {

}

.like::before {
	content: "";
	display: block;
	background: url(like.png) no-repeat;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 6px;
}

.comment::before {
	content: "";
	display: block;
	background: url(comment.png) no-repeat;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 6px;
}

.share::before {
	content: "";
	display: block;
	background: url(share.png) no-repeat;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 6px;
}

/*
.facebook:hover {
	border-style: solid;
	height: auto;
	grid-template-rows: 30px auto 30px;
}


.facebook:hover>div[id*="temp"] {
	display: block!important;
	text-shadow: none!important;
	color: black!important;
}
*/

/* footer */
.footer{
	height: 20px;
}


@media (min-width: 1000px) {
	.frame>.col{
		width: 33.33%;
	}
}

@media (max-width: 998.98px){
	.frame>.col{
		width: 50%;
	}
}