.header{
	background-color: #CDCFDC;
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;

}

img{
	width: 100%;
	max-width: 300px;
	height: 100%;
	max-height: 300px;
}


.header>.brand{
	width: auto;
	float: left;
}

.header>.menu{
	width: auto;
	float: right;
	box-sizing: inherit;
}

* {
	box-sizing: border-box;
}

.frame{
	background-color: #3b5998;
	padding-top: 50px;
	width: auto;
}

.frame>.col{
	background-color: #8b9dc3;
	float: left;
	padding: 5px;
}

.frame>.col>.FB{
	background-color: #dfe3ee;
	margin: 5px 0;
}

.frame::after{
	content: "";
	clear: both;
	display: table;
}

.FB{
	width: 100%;
	height: 150px;
	overflow: hidden;
	display: grid;
	grid-template-rows: 30px auto 30px;
}

.FB:hover {
	border-style: solid;
	position: absolute;
	background-color: red;
	width: 50%;
	height: 50%
}

.temp_A{

}

.temp_B{

}

.temp_C{
	align-content: end;
}

@media (min-width: 1000px) {
	.frame>.col{
		width: 33.33%;
	}
}

@media (max-width: 998.98px){
	.frame>.col{
		width: 50%;
	}
}